extends layout

block content

	+nav("Conner's Corner", "dropdown_menu")
		+nav_item( "index.html") Home
		+nav_item( "projects.html" ) Projects
		+nav_item( "about.html", "active" ) About
		
	h1= title
	
	p Welcome to #{title}
	
	.row
		.col-md-3.col-sm-6.col-xs-12
			img(src="/images/Profile/brown.jpeg",class="img-circle person")
			+panel("Technologies", "diligent")
				p The first computers I used were Apple ][ at Town, and needless to say
					| the industry has radically shifted since then.
				p These are the set of technologies that are current
					ul
						li Swift (3.0)
						li Objective-c
						li Python, Pandas, scikit-learn, Django
						li R
						li node-js
						li sql
						li html, css, json, rest
						li bash, git, xcode
				p These are the set of technologies that I have used in the past
					ul
						li c++
						li .Net
						li VB
						li perl
						li
						
										
		.col-md-3.col-sm-6.col-xs-12
			img(src="/images/Profile/Conner0716-6772_SQ.jpg",class="img-circle person")
			+panel("Skills", "diligent")
				p A career in software is a life long learning experience. While I excel
					| at picking things up as I go along these are some of the more formal
					| education I have received:
				ul
					li Regression Analysis
					li Code Optimization
					li Schema
					li AB testing
					li Project Management
					
					
		.col-md-3.col-sm-6.col-xs-12
			img(src="/images/Profile/Conner0716-6772_SQ.jpg",class="img-circle person")
			+panel("Education", "diligent")
				p A career in software is a life long learning experience. While I excel
					| at picking things up as I go along these are some of the more formal
					| education I have received:
				ul
					li Master of Science in Operations Research, Carnegie Mellon University
					li BA in Math and Computer Science, Dartmouth College
					li General Assembly Data Science Program
					li Cate High School
					li Town School
					
			
		.col-md-3.col-sm-6.col-xs-12
			img(src="/images/Profile/Conner0716-6909_SQ.jpg",class="img-circle person")
			+panel("Caring father", "success")
				p Over the past few years I have become a dad, and I realize the values
					| that work well with fatherhood work well for products. My approach to fatherhood
					| is 80% joy and 20% discipline. There are certain times that things need to get
					| back to order, but most of the time, being helpful and encouraging is the best
					| way to get the most out of a team. 
				p My wife, also tells people that I had a 
					| dad sense of humor for years, but only finally got the children to match it to.
					| They, too, will be good with puns.
		
		
		
		
	
		
