extends layout

block content

	+nav("Conner's Corner", "dropdown_menu")
			+nav_item( "index.html") Home
			+nav_item( "projects.html", "active" ) Projects
			+nav_item( "about.html" ) About
	
	.row
		.col-xs-9
		
			
	
			p Thanks so much for lunch yesterday. It is great catching up after so many years
				| since we the left the hackers club at Dartmouth. This is what I have been up to:
	
			p After graduating from Carnegie Mellon's Masters program, I have been a developer for over 20 years.
				| The first part from 1995-2000 was during the dot com boom and I worked at a series of
				| start ups. The next part from 2001-2007 (the dot com bust) I worked in the finance sector
				| building everything from analytical models to accounting systems.
		
			p Then the iphone sdk was released.
	
			p Since 2008 I have building apps for the IOS platform. Initially I worked with a partner
				| and we released WunderRadio a month after the app store launched. It was one of the
				| top grossing and most popular apps in the store for its first few years.
	
			p We then O.E.M. and built apps for KNBR, KFOG and the Ministry of Sound. All of these
				| launched on time and were at the top of their respective categories. Unfortunately
				| it is hard to sustain app success, and TuneIn Radio built their app using our open source
				| code and took over the space. If you aren't worried about profits it is easier to disrupt.
		
			P My partner and I then split and I went solo. I built two apps on my own - Springboard 
				| which was a formspring client. The second was moments for me an epub generation tool
				| that was Unfortunately launched a month before Apple created its own solution.
		
			p I then started to work at start ups - Insightly, HangTime, and Immediately. For Insightly
				| I was the first (and only) mobile developer and launched the first two versions of the
				| CRM product. For HangTime and Immediately I was brought in to help strengthen code
				| that was started as a summer project and needed to be industrial strong before launching.
				| Unfortunately these did not get the product part of the equation correct and had a
				| hard time retaining an audience
		
			p Lately I have been doing some advising work for colleagues with apps as well as
				| building some interesting prototypes with my former partner. All of this has been a 
				| a great deal of fun, but with two small kids I need work that is a litte more real.
		
			p I do love working in the Apple eco systems and using their technologies to find solutions
				| for customer products. For me the world of mobile has not just been about extending
				| computing accessibility now that we  have computers on us all the time, but also
				| learning to take advantage of location, presentation, and media to find new ways
				| to share someone's idea.
		
			p Good answers come from good questions, and I am at my happiest either at a whiteboard
				| or pair programing with a partner.
		
			p I am comfortable at all levels above the complier, but I tend to gravitate towards
				| application oriented programming. The twenty years of experience with shifting
				| technologies has made me a quick learner. This fall I am taking classes on
				| deep learning and have already converted my code to swift 3.0 for my personal
				| projects over summer. I don't love newness for newness sake, but at the same time
				| I think so much of the world is interesting to explore.
	
			P I try to bring that enthusiasm to the projects I build and couple it with the steady
				| pace of someone who has done marathons in four different decades. To go long
				| requires a sense of humor.

		
		.col-xs-3
			img(src="/images/Profile/purple.jpeg",class="img-circle person")
			
	