extends layout

block content

	+nav("Conner's Corner", "dropdown_menu")
		+nav_item( "index.html") Home
		+nav_item( "projects.html", "active" ) Projects
		+nav_item( "about.html" ) About
		
	h1= Apps
	
	p Welcome to #{title}
	.row
	.col-mf-12(class = "text-center")
			h3 Apps
		
	.row
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/wunder.jpg","Wunder Radio")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/knbr.png","KNBR")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/kfog.png","KFOG")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
	
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/bone.png","The Bone")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/Ministry.png","Ministry of Sound")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.

					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/Moments.png","Moments for Me")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/Springboard.png","Springboard")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12			
			+thumb("/images/Apps/Insightly.jpeg","Insightly")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/Hangtime.png","Hangtime")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Apps/immediately.jpg","Immediately")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.


	.row
	.col-mf-12(class = "text-center")
			h3  Analysis		
		.col-md-2.col-sm-4.col-xs-12			
			+thumb("/images/Profile/Conner0716-6789_SQ.jpg","Mellon Transition")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Profile/Conner0716-6789_SQ.jpg","Mellon Capital")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
					
		.col-md-2.col-sm-4.col-xs-12
			+thumb("/images/Profile/Conner0716-6789_SQ.jpg","Robert Stephenson")
				p Good answers come from good questions. I believe that
					| software is converstation with our wants and needs.
	
		
		
	
		
