extends layout

block content

	+nav("Conner's Corner", "dropdown_menu")
		+nav_item( "index.html") Home
		+nav_item( "projects.html", "active" ) Projects
		+nav_item( "about.html" ) About
		
	h1= Apps
	
	p Welcome to #{title}
	.row
	.col-mf-12(class = "text-center")
			h3 Apps
		
	.row
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/wunder.png","Wunder Radio")
				UL 
					li Cofounder. 
					li Built top 2 app in the music category.
					li One of Apples top pick in the store.
					li Used analytics to prioritize stations and features.
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/knbr.png","KNBR")
				UL
					li Worked with local radio station to deliver top 5 sports app.
					li Built custom bobble heads for local djays.
					li Shipped the week before my wedding.
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/Kfog.png","KFOG")
				UL
					li Worked with local radio station to deliver dynamic music app.
					li Built custom fireworks that played along with the music.
					li Inspired by the Kaboom concert.
	
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/bone.jpeg","The Bone")
				UL
					li Worked with local radio station on a music app.
	.row					
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/Ministry.png","Ministry of Sound")
				UL
					li Worked with the London dance club on a music app.
					li Provided both free and paid app so that club goers
					| used to a premium experience would be welcome.

					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/Moments.png","Moments for Me")
				UL
					li Founder
					li Built custom ebook publishing app that took advantage
					| of the multimedia capabilities of the phone.
					li Used analytics to determine features and commerce model.
					
						
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/springboard.png","Springboard")
				UL
					li Mobile client for the social network, Formspring, which was made
					| famous by Anthony Weiner.
					li His politcal career lasted longer that the site did.
					
		.col-md-3.col-sm-6.col-xs-12			
			+thumb("/images/Apps/Insightly.png","Insightly")
				UL
					li First member of the mobile team
					li Shipped mobile client for the CRM website.
					li Used analytics to determine capacity constraints.
	.row			
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/hangtime.png","Hangtime")
				UL
					li Team member brought in to get the first launch out the door
					| after the initial work had been done by a summer intern.
					li Optimized image downloading for a top 25 social networking app.
					li Implemented analytics for user retention.
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Apps/immediately.png","Immediately")
				UL
					li Team member brought in to get the first launch of a mail app out the door
					| after the initial work had been done by undergrads.
					li Used analytics to determine feature paths and user retention.


	.row
	.col-mf-12(class = "text-center")
			h3  Analysis		
		.col-md-3.col-sm-6.col-xs-12			
			+thumb("/images/Profile/brown.jpeg","Mellon Transition")
				UL
					li Built Commission recapture accounting software.
					li Built Transition Mangement software hub.
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Profile/brown.jpeg","Mellon Capital")
				UL
					li Ran the alpha score software for stock selection.
					li Ran year end portfolio selection software for 12 billion in market cap.
					
		.col-md-3.col-sm-6.col-xs-12
			+thumb("/images/Profile/brown.jpeg","Robert Stephenson")
				UL
					li Worked on the Equity Derivatives Desk.
					li Built Internal Auction Software.
	
		
		
	
		
