body {
  padding: 20px;

}

a {
  color: #00B7FF;
}


xh1, xp {
  color: #1f1e1c;
}

#banner {
 
   padding-top: 125px;
    xpadding-bottom: 15px;
 

    background-size: 100%;
    background-image: url("/images/Banner/bw.jpg");
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
       border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;

}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    xopacity: 0.7;
}

.panel-body{
	background-color: #dedede;
	color:black;
}


.panel-explorer   {
   background-color: #605098;
   color:white;
   
}

.panel-diligent   {
   xbackground-color: #506998;
   background-color: #a85c58;
   color:white;
}


.panel-converse   {
   xbackground-color: #867170;
   background-color: #a87a58;
   color:white;
}

